*,
*::before,
*::after {
  box-sizing: border-box!important;
}

* {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CAUSE OF THE FANTASTIC html2canvas BUG THAT I'VE SPENT 3HOURS TO RESOLVE */
/*img,*/
/*svg {*/
/*  display: block;*/
/*  max-width: 100%;*/
/*}*/

:root {
  font-family: system-ui, Inter, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-gray-200);
  color: var(--color-gray-900);
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-gray-000: #f8f9fa;
  --color-gray-100: #f1f3f5;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #868e96;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;

  --color-blue-000: #e7f5ff;
  --color-blue-100: #d0ebff;
  --color-blue-200: #a5d8ff;
  --color-blue-300: #74c0fc;
  --color-blue-400: #4dabf7;
  --color-blue-500: #339af0;
  --color-blue-600: #228be6;
  --color-blue-700: #1c7ed6;
  --color-blue-800: #1971c2;
  --color-blue-900: #1864ab;
}

.globalFormWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
  padding: 2rem;
}

.globalTextArea ol,
.globalTextArea ul {
  margin-block: 0.25rem;
  padding-left: 4ch;
}

.globalCVEntryList {
  display: flex;
  flex-direction: column;
  gap: 8pt;

  & * {
    margin-bottom: 0;
  }
}

.globalCVEntryWrapper {
  display: flex;
  flex-direction: column;
}

.globalCVEntryHeaderWrapper {
  display: flex;
  font-size: 12pt;
  justify-content: space-between;
  line-height: 1.2;
  margin-bottom: 0;
}

.globalCVEntryHeader {
  font-weight: 600;
}

.globalCVEntrySubHeader {
  font-size: 10pt;
  font-style: italic;
}

.globalCVEntryDescription {
  font-size: 8pt;
  font-weight: 300;
  margin-top: 2pt;
}

/* OVERWRITTEN QUASAR CLASSES */
.q-loading__backdrop {
  opacity: 0.95!important;
}